body {
    background-color: black;
    color: white;
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size:20px;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;

}

.heading {
    display: flex;
    height: 7%;
    width: 100%;
    background-color: navy;
    justify-content: center;
    align-items: center;

}

.color-indication {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.color-indicator {
    display: flex;
    /*
    border-radius: 50%;
    width: 400px;
    height: 400px;
    */
    width: 95%;
    height: 85%;
    border-radius: 1%;
    background-color: green;
}

.speech-type {
    display: flex;
    width: 100%;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}

.speech-type select {
    margin: .5em 0 .5em 0;
    padding: .5em 1em .5em 1em;
    font-weight: bold;
    background-color: cyan;
    border-radius: 10%;
    width: 255px;
    font-family: 'Nixie One', cursive;
    font-size: 20px;


    
}

.timer {
    display: flex;
    width: 100%;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}

.timer span {
    padding: 0 .5em 0 .5em;
    font-size: 55px;
    font-weight: bold;
}

.buttons {
    display: flex;
    width: 100%;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}

.buttons button {
    margin: .5em 1em .5em 1em;
    padding: .5em 1em .5em 1em;
    font-weight: bold;
    background-color: white;
    border-radius: 15%;
    width: 125px;
    font-family: 'Nixie One', cursive;
    font-size: 20px;
}

.buttons .start-button {
    background-color: green;
    color: white;
}

.buttons .stop-button {
    background-color: red;
    color: white;
}

.buttons .reset-button {
    background-color: navy;
    color: white;
}